# Acceessing JSON from string

In [41]:
import json

In [42]:
jsonStr='{\"id\":1,\"name\":\"renu\",\"year\":\"third\"}'
jsonArray='[\"one\",\"two\",\"three\"]'

In [43]:
details=json.loads(jsonStr)
detailsArray=json.loads(jsonArray)
print("Str:",details)
#print(f"{details}")
print("Array: ",detailsArray)
print(type(details))
print(type(detailsArray))

Str: {'id': 1, 'name': 'renu', 'year': 'third'}
Array:  ['one', 'two', 'three']
<class 'dict'>
<class 'list'>

In [44]:
#json docx are converted to python dicts
#json arrays are converted to python lists
print(details['name'])

renu

# Accessing JSON from document

In [45]:
filePath='/Users/Renu/Documents/pythonAndSql/schema.json'
open(filePath,'r') #creating file object
#fileRead= fileOpen.read()
schemas = json.load(open(filePath,'r'))
print(schemas)

{'isbn': '123-456-222', 'author': [{'lastname': 'Doe1', 'firstname': 'Jane5'}, {'lastname': 'Doe2', 'firstname': 'Jane4'}, {'lastname': 'Doe3', 'firstname': 'Jane3'}, {'lastname': 'Doe4', 'firstname': 'Jane2'}, {'lastname': 'Doe5', 'firstname': 'Jane1'}], 'editor': {'lastname': 'Smith', 'firstname': 'Jane'}, 'title': ['The Ultimate Database Study Guide1', 'The Ultimate Database Study Guide2', 'The Ultimate Database Study Guide3'], 'category': ['Non-Fiction', 'Technology']}

In [46]:
print(type(schemas))

<class 'dict'>

In [47]:
print(schemas.keys())
print(schemas.get("author"))

dict_keys(['isbn', 'author', 'editor', 'title', 'category'])
[{'lastname': 'Doe1', 'firstname': 'Jane5'}, {'lastname': 'Doe2', 'firstname': 'Jane4'}, {'lastname': 'Doe3', 'firstname': 'Jane3'}, {'lastname': 'Doe4', 'firstname': 'Jane2'}, {'lastname': 'Doe5', 'firstname': 'Jane1'}]

In [48]:
columnDetails=schemas['author']
print('col: ',columnDetails)

col:  [{'lastname': 'Doe1', 'firstname': 'Jane5'}, {'lastname': 'Doe2', 'firstname': 'Jane4'}, {'lastname': 'Doe3', 'firstname': 'Jane3'}, {'lastname': 'Doe4', 'firstname': 'Jane2'}, {'lastname': 'Doe5', 'firstname': 'Jane1'}]

In [49]:
sortingKey=input('Enter sorting key: ')
columns=sorted(columnDetails,key=lambda x: x[sortingKey])

In [50]:
[col['firstname'] for col in columns]

['Jane5', 'Jane4', 'Jane3', 'Jane2', 'Jane1']

In [55]:
def getColumnNames(schemas,dsName,sortingKey='lastname'):
    columnDetails=schemas[dsName]
    columns=sorted(columnDetails,key=lambda x: x[sortingKey])
    #return columns
    return [col['firstname'] for col in columns]

In [56]:
getColumnNames(schemas,'author')

['Jane5', 'Jane4', 'Jane3', 'Jane2', 'Jane1']

In [4]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x, indent=4))

{
    "name": "John",
    "age": 30,
    "married": true,
    "divorced": false,
    "children": [
        "Ann",
        "Billy"
    ],
    "pets": null,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ]
}