In [1]:
import pandas as pd

In [2]:
filePath='/Users/Renu/Documents/pythonAndSql/greenhouse-gas-emissions-industry-and-household-december-2022-quarter.csv'
df=pd.read_csv(filePath)

In [4]:
df.head(5)

,Anzsic,Anzsic_description,Period,Data_value,Variable,Units,Gas,Status
0,ZPZ,Primary industries,2014Q1,10907.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
1,ZPZ,Primary industries,2014Q2,10763.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
2,ZPZ,Primary industries,2014Q3,10713.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
3,ZPZ,Primary industries,2014Q4,10705.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
4,ZPZ,Primary industries,2015Q1,10644.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Anzsic              1188 non-null   object
 1   Anzsic_description  1188 non-null   object
 2   Period              1188 non-null   object
 3   Data_value          1188 non-null   float64
 4   Variable            1188 non-null   object
 5   Units               1188 non-null   object
 6   Gas                 1188 non-null   object
 7   Status              1188 non-null   object
dtypes: float64(1), object(7)
memory usage: 74.4+ KB

In [6]:
df.describe()

         Data_value
count   1188.000000
mean    4710.235724
std     6153.100011
min        0.860000
25%      449.000000
50%     1990.000000
75%     5536.750000
max    22820.000000

In [8]:
columns=df.columns.tolist()
print(columns)

['Anzsic', 'Anzsic_description', 'Period', 'Data_value', 'Variable', 'Units', 'Gas', 'Status']