In [2]:
import pandas as pd

In [3]:
filePath='/Users/Renu/Documents/pythonAndSql/greenhouse-gas-emissions-industry-and-household-december-2022-quarter.csv'
df=pd.read_csv(filePath)

In [4]:
df.head(5)

,Anzsic,Anzsic_description,Period,Data_value,Variable,Units,Gas,Status
0,ZPZ,Primary industries,2014Q1,10907.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
1,ZPZ,Primary industries,2014Q2,10763.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
2,ZPZ,Primary industries,2014Q3,10713.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
3,ZPZ,Primary industries,2014Q4,10705.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
4,ZPZ,Primary industries,2015Q1,10644.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Anzsic              1188 non-null   object
 1   Anzsic_description  1188 non-null   object
 2   Period              1188 non-null   object
 3   Data_value          1188 non-null   float64
 4   Variable            1188 non-null   object
 5   Units               1188 non-null   object
 6   Gas                 1188 non-null   object
 7   Status              1188 non-null   object
dtypes: float64(1), object(7)
memory usage: 74.4+ KB

In [6]:
df.describe()

         Data_value
count   1188.000000
mean    4710.235724
std     6153.100011
min        0.860000
25%      449.000000
50%     1990.000000
75%     5536.750000
max    22820.000000

In [7]:
columns=df.columns.tolist()
print(columns)

['Anzsic', 'Anzsic_description', 'Period', 'Data_value', 'Variable', 'Units', 'Gas', 'Status']

In [9]:
df['Anzsic'].unique()

array(['ZPZ', 'AAZ', 'BB1', 'ZGZ', 'CCZ', 'DD1', 'EE1', 'ZSZ', 'II1',
       'ZSX', 'ZZ9', 'HHD', 'HH1', 'HH2', 'HH3', 'ZZZ'], dtype=object)

In [12]:
df.query('Anzsic=="ZPZ"')

,Anzsic,Anzsic_description,Period,Data_value,Variable,Units,Gas,Status
0,ZPZ,Primary industries,2014Q1,10907.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
1,ZPZ,Primary industries,2014Q2,10763.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
2,ZPZ,Primary industries,2014Q3,10713.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
3,ZPZ,Primary industries,2014Q4,10705.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
4,ZPZ,Primary industries,2015Q1,10644.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
...,...,...,...,...,...,...,...,...
607,ZPZ,Primary industries,2021Q4,11317.0,Actual,Kilotonnes,Carbon dioxide equivalents,P
608,ZPZ,Primary industries,2022Q1,11886.0,Actual,Kilotonnes,Carbon dioxide equivalents,P
609,ZPZ,Primary industries,2022Q2,8713.0,Actual,Kilotonnes,Carbon dioxide equivalents,P
610,ZPZ,Primary industries,2022Q3,9273.0,Actual,Kilotonnes,Carbon dioxide equivalents,P
611,ZPZ,Primary industries,2022Q4,11167.0,Actual,Kilotonnes,Carbon dioxide equivalents,P

In [14]:
df.query('Anzsic==("ZPZ","CCZ")')

,Anzsic,Anzsic_description,Period,Data_value,Variable,Units,Gas,Status
0,ZPZ,Primary industries,2014Q1,10907.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
1,ZPZ,Primary industries,2014Q2,10763.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
2,ZPZ,Primary industries,2014Q3,10713.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
3,ZPZ,Primary industries,2014Q4,10705.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
4,ZPZ,Primary industries,2015Q1,10644.0,Seasonally adjusted,Kilotonnes,Carbon dioxide equivalents,P
...,...,...,...,...,...,...,...,...
751,CCZ,Manufacturing,2021Q4,2793.0,Actual,Kilotonnes,Carbon dioxide equivalents,P
752,CCZ,Manufacturing,2022Q1,2640.0,Actual,Kilotonnes,Carbon dioxide equivalents,P
753,CCZ,Manufacturing,2022Q2,2190.0,Actual,Kilotonnes,Carbon dioxide equivalents,P
754,CCZ,Manufacturing,2022Q3,2093.0,Actual,Kilotonnes,Carbon dioxide equivalents,P
755,CCZ,Manufacturing,2022Q4,2254.0,Actual,Kilotonnes,Carbon dioxide equivalents,P

In [16]:
df. \
groupby('Anzsic_description')['Anzsic']. \
agg(anzsicCount='count')

                                                    anzsicCount
Anzsic_description
Agriculture, forestry, fishing                               72
Construction                                                 72
Electricity, gas, water, and waste services                  72
Goods-producing industries                                   72
Heating/cooling                                              72
Households                                                  108
Manufacturing                                                72
Mining                                                       72
Other                                                        72
Primary industries                                           72
Service industries                                           72
Services excluding transport, postal, and wareh...           72
Total                                                        72
Total industry                                               72
Transport                                                    72
Transport, postal, and warehousing                           72